[2012-04-27 09:07] uh-klk opened #11 "updated cob3-2 configurations"

[2012-07-20 10:34] #11 closed, assigned to nobody

[2013-05-19 18:15] frederikhegger opened #80 "dependencies to ur_driver / ur5_driver"
The "cob_bringup" package has a dependency to the package "ur_driver". I found the following repositories:
- https://github.com/ipa-nhg/ur_driver: here it seems that ur_driver would be a stack, but there is only one package inside (ur_description).
- https://kforge.ros.org/ros_industrial/universal_robot and https://github.com/ros-industrial/universal_robot: here there are only "ur5_*" packages. Bu

[2013-06-03 12:45] fmessmer commented on #80
This issue has been fixed by the latest changes in cob_common and cob_robots for groovy!
See ipa320's groovy_dev branches of the respective stacks.

We are now using ur_driver and ur_description from here (https://github.com/ros-industrial/universal_robot). This stack has been updated recently as well.

However, we will not backport this to electric or fuerte.

[2013-09-19 15:05] floweisshardt opened #115 "roslaunch tests feil for cob_hardware_tests if no environment variables are set"
Our new jenkins server reports build failures for the roslaunch tests in cob_hardware_test. Please use the <arg name="robot"/> tags in the tests (similar to the launch files in cob_bringup).

use "unset ROBOT" and "unset ROBOT_ENV" and then do a "make test" in cob_hardware_test to reproduce the error.

[2013-09-25 15:09] ipa-fmw-ms commented on #115
I have the following Problem with make test and arg:
http://answers.ros.org/question/38241/rosbuild_add_roslaunch_check-fails-for-included-files-using-launch-file-arguments/

[2013-11-14 17:44] ipa-rmb opened #130 "wrong reference values for schunk arms"
There are wrong reference values for arm_6_joint in all cob3's with schunk arm (cob3-2, cob3-5, cob3-6)!
They are way too large and lead to controller error (>0.15)

Query the correct values from the respective robot hardware!

[2013-11-14 17:44] ipa-rmb commented on #130
@ipa-fxm

[2014-02-26 17:34] floweisshardt commented on #130
the reference offsets are probably wrong in cob_robots https://github.com/ipa320/cob_robots/blob/groovy_dev/cob_hardware_config/cob3-2/urdf/calibration_default.urdf.xacro#L94 (same for cob3-5 and cob3-6)

solution: use windows schunk software to set firmware offsets to -pi to pi and then adapt refrence offset in calibration _default

[2014-02-27 07:20] floweisshardt opened #143 "launch checks fail for cob_controller_configuration_gazebo"
running make test in cob_controller_configuration_gazebo fails. error see below.

checking ros/launch/default_controllers_cob3-5.launch
Traceback (most recent call last):
  File "/opt/ros/groovy/share/roslaunch/scripts/roslaunch-check", line 85, in <module>
    error_msg = check_roslaunch_file(roslaunch_path)
  File "/opt/ros/groovy/share/roslaunch/scripts/roslaunch-check", line 45, in check_rosla

[2014-03-13 09:40] fmessmer opened #146 "Configure ros_control parameters for Hydro"
The controller parameters for the following components have not been optimized yet:
- cob3_torso_v1
- schunk_lwa
- cob3_tray_3DOF
- ur_connector
- cob4_torso
- cob4_head
- cob4_sensorring
- ...

[2014-03-13 09:41] fmessmer commented on #146
@ipa-fxm should be assigned

[2014-03-13 10:25] fmessmer commented on #143
should be fixed by adding default values
(see https://github.com/ipa-fxm/cob_robots/commit/7af9e7c7fbe4600e1def90ee30ecb3b3fd13d9ed)

However, how do rostest launch file checks work? Can't you specify a value for the arguments for each check?
Because we also have several other launch files with launch file arguments, where a default value does not make sense (e.g. the new generic_controller.launch

[2014-03-13 15:16] floweisshardt commented on #143
we should not put in default values if they make no sense. The workaround is to exclude the files where we need launch arguments without default from the roslaunch tests by renaming them to *.xml. Example see cob_bringup.

[2014-03-13 18:15] fmessmer opened #148 "Bring Groovy Updates to Hydro"
This issue should be used to remember bringing PullRequests into Hydro that have only been tested for Groovy so far

@ipa-fmw
@ipa-nhg

[2014-03-13 18:15] fmessmer commented on #148
@ipa-bnm: #147

[2014-03-13 18:36] benmaidel commented on #148
@ipa-bnm: #149

[2014-03-31 13:57] thiagodefreitas opened #164 "Change from canopen executable"
@ipa-fmw , @ipa-nhg . Please be aware that the canopen executable name has changed in Hydro to ipa_canopen_ros instead of canopen_ros. This was the cause of the issue in cob3-3.

[2014-04-02 06:22] floweisshardt commented on #164
@ipa-nhg: can you please check that in cob_bringup?

[2014-05-05 08:00] floweisshardt commented on #148
done, released and public

[2014-05-05 08:00] #148 closed, assigned to nobody

[2014-06-13 06:50] fmessmer commented on #164
This seems to be correct already:
https://github.com/ipa320/cob_robots/blob/hydro_dev/cob_bringup/drivers/canopen_driver.launch

[2014-06-17 14:07] NadiaHG commented on #164
Tested on cob4-1 : OK

[2014-06-17 14:07] #164 closed, assigned to ipa-nhg

[2014-06-17 16:04] floweisshardt commented on #130
seems to be solved

[2014-06-17 16:04] #130 closed, assigned to nobody

[2014-06-17 16:05] #80 closed, assigned to nobody

[2014-07-22 12:25] fmessmer opened #207 "Add parameter to cob_hardware_config"
https://github.com/ipa320/cob_driver/pull/148 introduced new parameters
- max_trans_velocity
- max_rot_velocity

Currently they are not set within any yaml file, thus the hasParam-check fails and the default value is used. It would be good to know in which yaml these parameters can be set (in cob_hardware_config?). There should be a respective entry in the according yaml for all robots (using the

[2014-08-18 16:50] fmessmer commented on #146
joint_trajectory PIDs should be fine for ALL robots!
velocity_control will ONLY be tuned for cob4 components and ONLY be released into indigo!

-> close?

[2014-08-25 10:27] #146 closed, assigned to fmessmer

[2014-10-08 12:20] destogl opened #227 "if emergency stop button is active initialisation return success"
I tried to initialize platform with joystick when emergency stop button was active and even there is an error in communication with motors there is ROS-INFO output about success of initialization.

[2014-10-08 15:14] floweisshardt commented on #227
this probably needs to be fixed in cob_driver/cob_base_drive_chain. @ipa-mig and @abubeck can you confirm this behaviour?

[2014-10-10 10:41] mgruhler commented on #227
I can confirm this behaviour. Will fix it, as soon as I have the time...
However, I am currently not sure, what packages need to be checked. I think everything from base_drive_chain down (i.e. probably until the CAN nodes...)

IMO, the biggest problem is not even the output, but rather that the platform considers itself initialized and you cannot reinitialize it again without restarting the bringu

[2014-10-22 13:53] fmessmer commented on #207
Ping?

[2014-10-22 14:00] fmessmer opened #231 "[Indigo] Deprecation Warning CostMap2D Parameter Layout"
While hunting for bugs, deprecation warnings and other things in `indigo_dev`, I found that with our current parameter layout in the `local_costmap_params.yaml` files we have the same issue as reported here:
http://answers.ros.org/question/83031/move_base-and-costmap_layers/

There is a response to the thread which explains what should be done.
The issue is also documented on the hydro migration g

[2014-10-23 07:11] mgruhler commented on #231
@ipa-fxm Thanks, we need to change this at some time... The result currently is compatible with the groovy one. But we should start to get rid of those warnings...

[2014-10-23 07:14] mgruhler commented on #207
@ipa-fxm Those parameters would need to go into the launch file, as there is currently no yaml file set for the undercarriage_ctrl...

https://github.com/ipa320/cob_robots/blob/hydro_dev/cob_bringup/controllers/base_controller.launch

I'll put it on my list

[2014-10-29 15:20] floweisshardt commented on #207
As the undercarriage_ctrl node currently still has the ini-file structure,we will do this once we got rid of the ini files. Espacially since those two parameters are only the absolute upper limit for avoiding the "racing robot bug", see https://github.com/ipa320/cob_robots/pull/233

[2014-12-03 08:01] floweisshardt opened #241 "add rqt default config and add launch-file to bringup"

[2014-12-04 09:45] floweisshardt opened #242 "add action_name and service_ns for all robots in cob_default_robot_config"
for new structure:
action_name: /arm_left/joint_trajectory_controller/follow_joint_trajectory
service_ns: /arm_left/driver

for old structure
action_name: /arm_left_controller/follow_joint_trajectory
service_ns: /arm_left_controller

[2014-12-04 15:31] NadiaHG commented on #242
Done https://github.com/ipa320/cob_robots/pull/244

[2014-12-08 09:39] #242 closed, assigned to ipa-nhg

[2015-01-15 18:53] UltronDestroyer opened #259 "Question, not issue: about gripper control in simulation"
Sorry if this isn't the right forum for this. I'm curious as to how the architecture of your gripper control looks like? Is it multi-dof? What plugins do you use for gazebo?

I'm trying to make the 3 finger roboteq s-model claw work in gazebo, but need a controller for it. Did you guys manage to make a multi-dof thing work with the jointtrajectory effort controller?

[2015-01-16 07:30] floweisshardt commented on #259
I assume you're refering to the Care-O-bot 3 gripper which is a Schunk SDH. For gazebo we modeled each joint as a revolute joint and added a joint trajectory controller to control all 7 joints in one action.
see
URDF: https://github.com/ipa320/schunk_modular_robotics/tree/indigo_dev/schunk_description/urdf/sdh
controller: https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_controller_configur

[2015-01-16 08:42] fmessmer commented on #259
There are definitely better forums for such kind of questions, e.g. [answers.gazebo](http://answers.gazebosim.org/questions), [answers.ros](http://answers.ros.org/questions/) or the [ros_control SIG](http://wiki.ros.org/sig/RobotControl)

Just one more hint:
Why do you want to use effort controllers? Is the actual hardware controlled by sending efforts, too?
If you want to just control the joint p

[2015-01-16 09:01] #259 closed, assigned to nobody

[2015-02-10 09:55] mgruhler commented on #227
the problem was just the output. Nothing wrong with the initialization behaviour in the base_drive_chain. Bugfixes in respective PRs referenced above

[2015-02-10 10:14] destogl commented on #227
Thanks for reparing :+1:

[2015-02-10 10:14] #227 closed, assigned to nobody

[2015-02-10 10:15] mgruhler commented on #227
Not merged yet ;-)

Von: Denis Štogl [mailto:notifications@github.com]
Gesendet: Dienstag, 10. Februar 2015 11:14
An: ipa320/cob_robots
Cc: Gruhler, Matthias
Betreff: Re: [cob_robots] if emergency stop button is active initialisation return success (#227)

Thanks for reparing [:+1:]

—
Reply to this email directly or view it on GitHubhttps://github.com/ipa320/cob_robots/issues/227#issuecomment-736

[2015-02-10 17:13] fmessmer opened #268 "[Indigo] Restructure and cleanup"
It's currently not possible to find a clean structure for the launch and parameter files that set up all robots (cob3-6, cob3-9, cob4-1, cob4-2, cob4-6) in both real hardware and simulation with the new namespace layout under indigo!

We will need to review this
- after the new base controller plugins are finalized
- the cob3-X robots hardware is set up for indigo

@ipa-fmw @ipa-nhg @ipa-mig @ipa-

[2015-02-12 14:40] fmessmer commented on #268
I started to use the new namespace structure for cob3-6 in simulation
[cob_common/cob3-updates](https://github.com/ipa-fxm/cob_common/tree/cob3-updates)
[schunk_modular_robotics/cob3-updates](https://github.com/ipa-fxm/schunk_modular_robotics/tree/cob3-updates)
[cob_robots/cob3-6_updates](https://github.com/ipa-fxm/cob_robots/tree/cob3-6_updates)

It's not yet finished.....this is just to let you

[2015-03-16 12:21] floweisshardt commented on #268
still need to fix launch files for schunk_sdh, cob_trajectory_controller and head_axis namespaces in cob_bringup launch files

see https://github.com/ipa320/schunk_modular_robotics/issues/131, https://github.com/ipa320/schunk_modular_robotics/issues/130, https://github.com/ipa320/cob_driver/issues/208, https://github.com/ipa320/cob_control/issues/26

[2015-03-18 07:03] fmessmer commented on #268
more restructuring done in #278 #279 #282

adaptions to schunk_powercube_chain, schunk_sdh, cob_trajectory_controller and cob_head_axis done in:
- https://github.com/ipa320/schunk_modular_robotics/pull/132
- https://github.com/ipa320/cob_driver/pull/210
- https://github.com/ipa320/cob_control/pull/27

[2015-03-18 07:45] fmessmer commented on #143
I think this is no longer an issue as all tests pass with #279
Thus, I think we can close this!

[2015-03-18 07:56] fmessmer commented on #115
I think this is no longer an issue as all tests pass with #279 - even with `ROBOT` and `ROBOT_ENV` unset!
Thus, I think we can close this!

[2015-03-19 16:57] floweisshardt opened #283 "add mimic launch file in cob_bringup"
see https://github.com/ipa320/cob4/issues/179

[2015-03-19 17:00] floweisshardt opened #284 "adapt cob_default_robot_config for cob4 head"

[2015-03-19 17:06] #143 closed, assigned to ipa-nhg

[2015-03-19 17:07] #115 closed, assigned to nobody

[2015-03-20 15:31] NadiaHG commented on #283
https://github.com/ipa320/cob_robots/pull/285

[2015-03-26 14:04] floweisshardt opened #288 "get updates from HMI demo"
- single robot_state_publisher with joint_state_publisher which aggregates joint_states
- fixed sdhx driver (joint orientation, see robot user on cob4-2)

[2015-04-20 06:17] fmessmer commented on #288
will be done during Wednesday-Hackathon.....

**There are many more fixes/features on the hmi account**

[2015-04-20 06:24] fmessmer commented on #283
what's the status here?
I've seen the launch file on the robot but it's not in the repository yet....probably due to the [comments](https://github.com/ipa320/cob_robots/pull/285#discussion-diff-26847895)?

[2015-04-20 07:06] fmessmer commented on #268
I guess most of the restructuring is done and merged...
It performs well on cob4 and simulation....
However, there still seems to be some mismatches on cob3's (see https://github.com/ipa320/cob_command_tools/issues/93)

[2015-04-22 15:27] jobstvogt opened #295 "robot_state_publisher"
I have some tf problems (TF_OLD_DATA, etc.) and I think it is related to the change that every component has its own robot state publisher. Why do you think it is better to have so many (in my case 7) robot state publishers that are all publishing the same transforms?

When I run the tf_monitor i get this strange output with unknown publisher:

RESULTS: for all Frames

Frames:
Frame: /base_footpri

[2015-04-23 16:46] floweisshardt commented on #295
we identified that too. The reason is that the tf tree for Care-O-bot is quite big and with multiple robot_state_publishers distributed over several pcs this will cause a lot of network traffic.

We've worked out a solution using the joint_state_publisher package and use that to aggregate all joint_states topics into a global /joint_states and then only use one robot_state_publisher again. This wi

[2015-04-29 19:03] fmessmer commented on #295
see https://github.com/ipa-fmw/cob_robots/commit/6dfb10885bfffde8f72c487827948a3dc1265a2a
and https://github.com/ipa-fmw/cob_robots/commit/8ccfe5f351756431d28130ef27727e07d5b0ab86

[2015-04-29 19:06] fmessmer commented on #288
done in the two Wednesday sessions

[2015-04-29 19:06] #288 closed, assigned to nobody

[2015-04-30 12:37] floweisshardt commented on #295
included in https://github.com/ipa320/cob_robots/pull/296

[2015-05-01 10:11] fmessmer commented on #283
As the launch file has been added a while ago, and now also the [comment](https://github.com/ipa320/cob_robots/pull/285#discussion-diff-26847895) about unifying topic/service/action names of mimic, sound andd lights is considered in https://github.com/ipa320/cob_driver/pull/223, https://github.com/ipa320/cob_robots/pull/296 and https://github.com/ipa320/cob_command_tools/pull/98, this can be close

[2015-05-01 10:11] #283 closed, assigned to ipa-nhg

[2015-05-01 15:24] #295 closed, assigned to nobody

[2015-06-14 16:35] fmessmer commented on #268
@ipa-nhg @ipa-fmw
now that https://github.com/ipa320/cob_robots/pull/303 has been merged should we adjust cob3-6 and cob3-9 for indigo accordingly, i.e. bringup launch file and configs?

[2015-06-18 09:36] mathias-luedtke opened #309 "Replace controller_manager spawner"
The controller_manager spawner script does not really suit our use case with deferred initialization.
As mentioned in https://github.com/ros-controls/ros_control/pull/188 we should just use the controller_manager script.
The spawner is meant for on-demand start of controllers via launch files with life cycle management.

So we can achieve the desired behaviour with:

[code]

This node just waits (

[2015-06-20 12:45] fmessmer commented on #309
much better!
- https://github.com/ipa320/schunk_robots/pull/49
- https://github.com/ipa320/cob_test_robots/pull/5
- https://github.com/ipa320/cob_robots/pull/310
- https://github.com/ipa320/cob_simulation/pull/80

[2015-06-22 11:06] floweisshardt opened #311 "update cob3-6 and cob3-9 based on cob3-2"

[2015-06-29 10:36] fmessmer commented on #309
done

[2015-06-29 10:36] #309 closed, assigned to nobody

[2015-06-29 10:37] fmessmer commented on #311
I started this in #314

[2015-08-01 13:20] fmessmer commented on #311
#314 has been merged...closing this issue!

[2015-08-01 13:20] #311 closed, assigned to nobody

[2015-08-03 10:38] floweisshardt opened #320 "raw3-3 roslaunch check failure"
#300 introduced an include in raw3-3.xml which opens a dependency to rplidar_ros.

Although this is not used by default, the roslaunch check for cob_bringup fails now http://jenkins.ros.org/job/devel-indigo-cob_robots/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/57/testReport/(root)/Results/test_ran/.
To avoid that we should add an empty package rplidar_ros to cob_substitute. @ipa-frm can you

[2015-08-03 11:56] floweisshardt commented on #320
@ipa-frm you don't need to get active here, sorry.
@ipa-fxm will resolve this in https://github.com/ipa320/cob_substitute/pull/29/

[2015-08-03 18:06] fmessmer commented on #320
fixed via https://github.com/ipa-fxm/cob_substitute/commit/4da4497dd12991b13d3983339aa2576fd7d56210 in https://github.com/ipa320/cob_substitute/pull/29

However, `cob_substitute` so far substituted only our own private repositories, with `rplidar_ros` this an official ROS package (not under ipa320 supervision) that just hasn't been released yet...
There might be a conflict in case we release `cob_

[2015-08-04 11:01] floweisshardt commented on #320
other question (to @ipa-frm and @ipa-mig): what is preventing us (or the maintainer) to release `rplidar_ros` under indigo? Did somebody try to trigger the maintainer to release it?

[2015-08-04 11:21] mgruhler commented on #320
@ipa-fmw There has been a release for hydro.
So maybe we can try to contact them and ask for a new release. I'll do that.

On the other hand, they seem to be pretty inactive. The last commit has been on 21st of April, there are two PRs open (from which at least one makes sense) for over a month and no feedback from them.
The question is, should we try to take this over? I.e. additional effort on o

[2015-08-04 11:30] mgruhler commented on #320
@ipa-fmw @ipa-fxm
Set up an issue at robopeak/rplidar_ros#15

[2015-08-04 12:46] floweisshardt commented on #320
Let's try to trigger them first. If there is no Motivation for an indigo release or no activity, we can at least offer our support with releasing the current state. This does not require to take over full maintainership

[2015-08-04 12:50] mgruhler commented on #320
Done already, see link above.

[2015-08-14 08:13] fmirus opened #324 "cob_simulation install from dep issue"
after apt-get installing cob_simulation and starting with `roslauch cob_bringup_sim robot.launch` the following error occurs:
`ERROR: cannot launch node of type [cob_controller_configuration_gazebo/gazebo_services.py]: can't locate node [gazebo_services.py] in package [cob_controller_configuration_gazebo]`

Tried to start the node with `rosrun cob_controller_configuration_gazebo gazebo_services.py

[2015-08-14 08:33] NadiaHG commented on #324
are you sourcing /opt/ros/indigo/setup.bash? have you or had you got overlays on your sourced workspace? did you remove the folders build , devel and install after the installation and before a new catkin make? Also a 'rosdep update' can help

[2015-08-15 10:55] fmessmer commented on #324
I asked @ipa-frm to report this issue.
Now I tested it on my laptop....and there, I can't reproduce this error...

What I did is:
![cob_controller_configuration_gazebo](https://cloud.githubusercontent.com/assets/508006/9288544/6ebbf60a-434b-11e5-9546-b58a22110b21.png)

Summary:
I sourced only `source /opt/ros/indigo/setup.bash`.
`roscd cob_controller_configuration_gazebo` also brings me to `/opt/r

[2015-08-15 10:58] fmessmer commented on #324
However, [this](http://docs.ros.org/api/catkin/html/howto/format2/installing_python.html) install tag for python scripts is different from what we use

[code]

vs.

[code]

[2015-08-17 09:47] fmirus commented on #324
seems to be aproblem with my workspace, so I'll close this. Thanks @ipa-fxm for looking after it :smiley:

[2015-08-17 09:47] #324 closed, assigned to nobody

[2015-08-24 14:13] fmessmer commented on #231
@ipa-mig:
ping

[2015-08-24 14:13] fmessmer commented on #207
@ipa-mig:
ping

[2015-09-04 18:47] fmessmer commented on #320
What's the status here?
Close? Help @robopeak with the release?

[2015-09-04 19:45] fmessmer commented on #268
#314 probably fixes it in a satisfactory way for now....

[2015-09-04 19:45] #268 closed, assigned to nobody

[2015-09-04 19:50] fmessmer commented on #231
@ipa-srd-fg
While you investigate the costmap node and configuration for multi-robot support, could you take care of this at the same time please? Don't know whether this actually still exists...@ipa-mig?

[2015-09-07 05:55] mgruhler commented on #320
Well, an `rplidar_ros` release would be nice. However, @robopeak is not responding to any questions and they haven't been active sind April.

Should we just go ahead with a release?

This might actually now become a problem with the latest `cob_substitute` release...

[2015-09-07 14:16] ipa-srd-fg commented on #231
Sure.
Furthermore, I still get the deprecation warnings from above.

[2015-09-07 15:48] mgruhler commented on #231
@ipa-srd-fg perfect, thanks.

I actually already tried to start it last week, but didn't get around to make progress...
Best drop by my office tomorrow so that we can discuss how to proceed best.

What needs to be done to fix this issue:
- Set up new parameter style for one robot (best take a r@w, you can find a working example in ipa_navigation/ipa_navigation_config)
- test in simulation
- test o

[2015-09-15 13:28] mgruhler commented on #231
@ipa-srd-fg as discussed, you can find a draft of the adapted structure on my remote, branch `fix/deprecated_costmap_params` ([Link](https://github.com/ipa-mig/cob_navigation/tree/fix/deprecated_costmap_params)). Currently only for `r@w3-2`.

Can you check if this works?

[2015-09-17 11:29] ipa-srd-fg commented on #231
As discussed with @ipa-mig, the deprecation warning is not only an issue for `local_costmap_params.yaml`, but also for the costmaps of the ipa_navigation repositories. Since I have not had much to do with the costmap node, I am currently not that familiar with the new parameter style. Therefore, I would like to postpone this issue until I have finished the multi robot support in order to tackle on

[2015-09-17 21:43] fmessmer commented on #231
I'm fine with that as long as we remember this issue and eventually solve it :wink:

[2015-09-18 05:56] mgruhler commented on #231
Not forgotten :-) I have a draft (for navigation) on [a feature branch](https://github.com/ipa-mig/cob_navigation/tree/fix/deprecated_costmap_params) which seems to work in simulation.
But we need to test this further and also on hardware. As it is for `r@w3-2`, testing it on another `r@w` make sense.

Once those tests are complete, we "just" have to port it to the other robots...

[2015-09-24 13:04] floweisshardt opened #333 "unify script_server.launch and android_script_server.launch"
there should be one launch file after https://github.com/ipa320/cob_android/issues/5 is done

@fmessmer FYI

[2015-11-04 14:22] floweisshardt opened #348 "consistent camera topic names (hw, sim)"
taken from #347:
cam3d topic names need a significant review anyway as topics in simulation do not match the topic names on real hardware for most of the kinect/softkinetic/prosilica sensors....

As #346 tries to introduce a consistent naming in simulation...can we tackle this issue after #346 has been merged and then try to remove trailing slashes for link_names wherever it applies?

[2015-11-16 09:50] floweisshardt opened #366 "[cob_default_robot_behavior] fix service response"
currently returns

[code]

[2015-11-20 09:03] NadiaHG opened #372 "Calbrate cob4-1 and cob4-2 Asus Xtion cameras"
add the configuration files to https://github.com/ipa320/cob_calibration_data/tree/indigo_dev/cob4-1/calibration/cameras

[2015-11-20 09:09] NadiaHG opened #373 "[cob_bringup] remove ROBOT_ENV/robot_env dependency"
See discussion started [here](https://github.com/ipa320/cob_robots/pull/369#discussion_r45443892)

[2015-11-20 12:18] fmessmer commented on #320
I guess we can all live with the current situation. Thus, I'll close this issue!

[2015-11-20 12:18] #320 closed, assigned to fmessmer

[2015-11-20 12:22] fmessmer opened #374 "Add launch file checks and URDF checks"
We need to write these tests and add them to travis

@ipa-fmw @ipa-mdl
Do you have a good idea how to deal with the problem about using `$(find )` and `$(arg )` and such mixed together?

[2015-11-20 14:44] fmessmer commented on #374
@ipa-mdl:
rosinstall template https://github.com/ipa320/setup/blob/master/repositories/cob_indigo_bringup.rosinstall

[2015-11-21 10:43] fmessmer commented on #374
Sweet!
Let's bring this new travis configuration to the other repos as well - after the merge session on Tuesday!

[2015-11-21 10:56] fmessmer commented on #374
We might need to update/recheck the `robotlist` entries in e.g. `cob_bringup`, `cob_controller_configuration_gazebo`, `cob_gazebo`,...

[2015-11-21 14:16] mathias-luedtke commented on #374
It would be even better to keep a consolidated list at one single place. It could be a symlinked cmake files that is included or we could keep the list in a  dedicated package (e.g. cob_robot_list) and expose it to dependent packages (`CFG_EXTRAS`).

[2015-11-21 14:57] fmessmer commented on #348
The `cob_common` part has been started in https://github.com/ipa320/cob_common/pull/179
...but it is not yet finalized....`cob_robots` is still missing...and wherever this change might have consequences (i.e. perception, moveit, rviz configs, ...)

[2015-11-21 15:04] fmessmer opened #380 "[cob_hardware_config] remove simulated diagnostics from diagnostics_analyzers.yamls"
As discussed https://github.com/ipa320/cob_robots/pull/365#discussion_r45446150

[2015-11-23 09:13] #374 closed, assigned to floweisshardt

[2015-11-24 20:28] fmessmer commented on #380
done in https://github.com/ipa320/cob_robots/pull/386

[2015-11-24 20:28] #380 closed, assigned to fmessmer

[2015-11-27 14:25] floweisshardt opened #387 "[ctitical] implement cob_default_robot_behaviour using handles"
especially for torso movements and pick movements, we should check every command using the handles and abort if a previous movement cannot be completed as expected!

[code]
- define a handle for each `sss.move` command
- wait for movements to be finished before executing new movements
- do NOT use `spleep()` to synchronize movements (which can cause a collission)
- only continue if error_code is z

[2015-12-11 15:33] floweisshardt commented on #366
solved in #393

[2015-12-11 15:37] floweisshardt commented on #207
as cob_undercarriage_ctrl is outdated and replaced by the ros_control implementation for all new bases, I'll vote for not spending effort on this issue.

can be closed then

[2015-12-11 15:49] floweisshardt commented on #373
solved in #394

[2015-12-11 17:27] mgruhler commented on #207
the question remains how we will handle this. We still need this for the rob@work and CoB3 robots...
+1 for not spending too much effort on this, however, we should discuss how to proceed...

[2016-01-19 13:41] stefandoerr opened #403 "raw3-1 emergency state topic in wrong ns"
in raw3-1.xml the relayboard.launch is started in simulation mode which results in a wrong ns of the /emergency_stop_state topic (which is relayboard/emergency_stop_state) and the robot can not be moved.

[2016-01-19 13:44] NadiaHG commented on #403
This PR https://github.com/ipa320/cob_robots/pull/395  solves the problem

[2016-01-19 15:38] fmessmer commented on #403
Even if #395 solves the namespace problem in simulation....why is this node run in simulation mode **on real hardware** anyways? There seems to be something wrong about this...

[2016-01-19 15:55] mgruhler commented on #403
I guess because the r@w does not have a relayboard. How is it handled on cob4?

[2016-01-19 17:05] fmessmer commented on #403
If raw3-1 does not have a relayboard, we should not have the robot to require a topic coming from this node in order to be able to operate it...
Which node requires a message on `/emergency_stop_state` on the raw3-1? @ipa-srd @ipa-nhg could you check this with `rostopic info`?

[2016-01-20 19:38] destogl commented on #403
This is something I found out a year a go or so, but I was never really sure and had time to change it for all robots. For raw3-5 should be changed in #400

raw3-5 has? Or at least can publish this topics through phidgetboard. Probably I have to look at it again more closely.... Anyway I solved it for raw3-5...

[2016-01-20 19:43] mgruhler commented on #403
Yes, the `emergency_stop_state`  topic can be published from a phidget board.

[2016-01-20 19:58] destogl commented on #403
But than on all r@ws (if all have phidged board) this:

[code]

should be changed for this:

[code]

as I did in #400

And of course we should take care that phidget board configuration is correct.

[2016-01-21 07:26] mgruhler commented on #403
True, but not all have a phidget board (actually, I'm not sure if there not only two that actually have one). And there are different versions. We have to check with our r@w's, at least the two that are still at IPA. For the rest, we need to keep it as is.

[2016-01-21 07:41] destogl commented on #403
Ok check it, at KIT we have phidgetboard, so for raw3-5 it can be also changed.

[2016-01-21 12:40] benmaidel commented on #403
from my point of view just two things need to be done.
1. merge PR #395 because we still need the simulated relayboard for robots without relayboard and phidgetboard.
2. replace relayboard launch with phidgetboard launch for raw3-1 and raw3-5. raw3-3 was already changed and the other raw's do not have a phidget board.

[2016-01-21 21:13] fmessmer commented on #403
Why? Which node requires the topic to be available?
Is it only me who thinks it is strange that a (software) node (I don't know which one it is) requires a hardware to be present (i.e. the relayboard with its driver to publish a topic) in order to work...?
I thought we use "simulated" nodes in order to have the same set of topics and messages in **Gazebo simulation** than we do on the respective h

[2016-01-22 07:27] mgruhler commented on #403
Alright. The `/emergency_stop_state` topic is required by the `cob_undercarriage_control` node ([subscriber callback](https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_undercarriage_ctrl/ros/src/cob_undercarriage_ctrl.cpp#L315-L344) / [setter function in controller](https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_undercarriage_ctrl/common/src/UndercarriageCtrlGeom.cpp#L709-L731) /

[2016-01-22 09:04] benmaidel commented on #403
as @ipa-mig wrote, `cob_undercarriage_control` needs the `emergency_stop_state` topic to be published. If it's not published the base will not move. This behavior is implemented because of safety reasons. (No EM Stop State means that there is probably something wrong and we should not move the base).

[2016-01-22 09:18] fmessmer commented on #403
Yes, the base should not be moved in case of EM-Stop, but this is enforced due to the EM-Stop cutting of the power from the drives - on the hardware-side!
It should not need to be handled by software...even more, the hardware will not start to move after the EM-Stop has been released again without recovering it anyways...

[2016-01-22 09:35] mgruhler commented on #403
Yes to both. It would be nice to have this topic and handle the different controllers respectively.
Especially, as it allows for differntiating between button stop and scanner stop.

However, if the sim node is used, the emergency stop flags are always `false`, i.e. not in EM stop. Thus, I guess it could be removed.

[2016-01-22 10:30] mathias-luedtke commented on #403
IMHO:
1. use global namespace
2. use phidget board if available
3. remove all of it after the new base chain is available ;)

The software controller should reset its internals in order to not jump after recover.
Within the migration of the platform controllers to ROS (for cob3) the `emergency_stop_state` was introduced and the EM stop was handled in (too) many places.

The topic is published by `

[2016-01-22 10:43] mgruhler commented on #403
and

How is this handled therein, i.e. how does the controller know when to reset?

[2016-01-22 11:26] mathias-luedtke commented on #403
The controller does not know this, but ros_canopen/ros_control resets the controller.
Not only in case of EM stops, but as well for mode switches etc.

[2016-01-22 11:54] mgruhler commented on #403
Yes, but what triggers the reset? The EM stop as well? Then, this needs to be known by `ros_canopen`/`ros_control`. How so?

Or am I being stupid and missing something? ;-)

[2016-01-22 13:58] mathias-luedtke commented on #403
This is a different question ;)
The Elmo controller reports the failure via a CANopen emergency message.
For old Elmos and Schunk you get a motor undervoltage error and for the new Elmos you get a Safety stop error :)
`cob_canopen_motor` disabled these error messages for some reason.

[2016-01-22 14:03] mgruhler commented on #403
Alright, so the new modules don't rely on the `emergency_stop_state` topic anymore. Understood ;-)

[2016-02-04 11:43] #373 closed, assigned to fmessmer

[2016-02-04 13:14] fmessmer commented on #366
solved in #406

[2016-02-04 13:39] fmessmer commented on #403
Trying to catch up on this:
I guess the approach to follow is what @ipa-bnm wrote in https://github.com/ipa320/cob_robots/issues/403#issuecomment-173558816:
- none of the raw's have **real** relayboard
- raw3-1 (started on [branch](https://github.com/ipa-fxm/cob_robots/tree/fix_raw31_relayboard_phidgets) #407 ), raw3-3 (already done) and raw3-5 (done in https://github.com/ipa320/cob_robots/pull/40

[2016-02-04 13:47] mgruhler commented on #403
as far as I see, you are correct.

I'm unsure if the phidget boards are all the same, are wired correctly/the same or if there are any discrepancies between raw3-1, 3-3 and 3-5.

[2016-02-04 15:21] #366 closed, assigned to ipa-nhg

[2016-02-04 18:04] destogl commented on #403
You are correct.

[2016-02-04 23:27] mathias-luedtke commented on #403
Seems legit.
I suggest to migrate just the robots that have their EM wiring confirmed.

[2016-02-05 09:06] destogl commented on #403
configuration of phidget board in #400 is correct for raw3-5

[2016-02-05 14:00] fmessmer commented on #348
here is a comparison of the current topic from a cam3d in simulation and hw:
https://gist.github.com/ipa-fxm/d37e2e3f7e7ce9f8884f

[2016-02-05 14:17] fmessmer commented on #348
I already looks quite similar...still there are a few things, I (personally) would like to have clarified by some perception experts/users @ipa-rmb @ipa-josh
1. In simulation, we have `depth/image_raw`, but `depth_registered/camera_info` and `depth_registered/points`. Shouldn't the `image_raw` topic always be in the same namespace as the respective `camera_info` topic?
2. Would you want to have al

[2016-02-08 12:34] ipa-rmb commented on #348
Here are some answers to your questions from josh and me:
1. depth/image_raw is not used by josh or me. It would probably make more sense to rename it to the depth_registered namespace if the real hardware driver does the same.
2. We need all six variants, the three in depth name space and the other three from depth_registered.
3. Has not been used by us so far.
4. Usually the topics rgb/image (or

[2016-02-09 17:26] fmessmer commented on #348
I think, the gazebo_plugin for the camera can only provide **one** namespace for depth images and **one** for colored images....
Thus, I would suggest to go for `depth_registered` for the depth images and `rgb` for the colored images!

[2016-02-09 17:26] fmessmer commented on #348
I just provided a PR in https://github.com/ipa320/cob_common/pull/183

[2016-02-10 09:38] #348 closed, assigned to nobody

[2016-02-11 09:42] floweisshardt opened #416 "cleanup teleop parameters (unused button parameters)"
according to https://github.com/ipa320/cob_robots/pull/414#issuecomment-182599919, we do not need parameters for modules which does not exists on the robot in the teleop.yaml.

So all parameters X_button can be removed in case component X is not part of the robot.

[2016-02-11 14:34] NadiaHG commented on #416
Done https://github.com/ipa320/cob_robots/pull/419

[2016-02-12 07:42] floweisshardt opened #420 "remove canX.yaml files and integrate into component specific yaml files"
currently can0.yaml is used on the base pc for the base and on the torso pc for the arms/sensorring/torso. If we keep a common can0.yaml we cannot have different CAN configurations for e.g. base and torso.

@ipa-mdl had some suggestion how to restructure

[2016-02-12 08:31] floweisshardt opened #422 "switch raws and cob3s to new canopen base driver"
currently done and tested for cob4-2 (see #405).
Instructions see https://github.com/ipa320/cob_robots/pull/405#issuecomment-182945753

@destogl will test with raw3-5

[2016-02-12 08:53] mathias-luedtke commented on #422
It does not work for cob-3, because steer and drive are coupled mechanically.
If we want to support them, first https://github.com/ros-industrial/ros_canopen/issues/101 needs to be addressed and second a specialised motor node needs to be written.

[2016-02-12 08:57] mathias-luedtke commented on #420
- move all params into the driver yaml
- but set `bus/device` from the launch file

[2016-02-12 13:34] destogl commented on #422
@ipa-fmw: Thanks for nice instructions.

I will do it. But probably not before march because currently I have other student working on the robot using powercube but I will try to port also the powercube to use SocketCAN (it shouldn't be too hard) and than I test every thing.

[2016-02-12 13:38] mathias-luedtke commented on #422
@destogl: a SocketCAN-based powercube driver sound interesting. `socketcan_interface` already encapsulates most aspect. In addition there is a new topic-base interface (http://wiki.ros.org/socketcan_bridge)

[2016-02-15 09:03] destogl commented on #422
@ipa-mdl Thanks! I prefer library-like interface for this kind of stuff. We should have already one implementation which is independent of socketcan_interface, I am looking to integrate it in the next days.

off-topic: There are also few other nice stuff we did with powercube (https://github.com/ipa320/schunk_modular_robotics/pull/156) but it is too dirty for merge. I will clean it an make few PRs

[2016-02-19 10:27] fmessmer commented on #207
Well as #233 has been merge for a while now and no complains occurred about any robot driving too fast/slow...I think it is ok just leaving those default values...and consider this fixed...
no more effort for putting the parameter from launch file to yaml!

[2016-02-19 10:27] #207 closed, assigned to nobody

[2016-02-19 10:29] fmessmer commented on #241
as everyone is using a different rqt perspective for their respective debug job...doesn't make too much sense to add a default one to cob_bringup....

[2016-02-19 10:29] #241 closed, assigned to ipa-nhg

[2016-02-19 10:31] fmessmer commented on #284
I consider this done in https://github.com/ipa320/cob_robots/commit/58c976b67226d1e72c477cc4c47530e4176790e4

[2016-02-19 10:31] #284 closed, assigned to floweisshardt

[2016-02-19 11:39] fmessmer commented on #387
fixed in #411

[2016-02-19 11:40] #416 closed, assigned to nobody

[2016-02-19 17:08] fmessmer commented on #420
solved in #435

[2016-02-19 17:39] fmessmer opened #437 "[cob_hardware_config] further simplify configuration structure (modules and components)"
The structure already got much simpler but there still is some potential.

I'm creating this issue for discussion following
- https://github.com/ipa320/cob_common/pull/175#issuecomment-154128294
- https://github.com/ipa320/cob_robots/pull/359

This has minor priority for now...

@fmessmer FYI

[2016-02-24 11:10] #420 closed, assigned to nobody

[2016-03-04 14:35] fmessmer commented on #422
Take care and note of https://github.com/ipa320/cob_control/issues/98!

Old ELMOs need to be set to `UM=2` persistently and velocity sensor needs to be enabled (see #445)

[2016-04-02 08:02] fmessmer commented on #372
~~might be related: https://github.com/ipa320/cob_calibration/issues/10~~

When calibrated also consider https://github.com/ipa320/cob_calibration_data/issues/99

[2016-04-07 07:15] fmessmer opened #461 "[cob_bringup] env.sh as env-loader script"
@ipa-nhg @ipa-fmw

This is evolving from https://github.com/ipa320/cob_robots/pull/459#issuecomment-205390813

Beside the discussion about what to do about `env.sh`, the following things need to be done (@ipa-nhg)
- [ ] accounts need to be generated for all users that have an account on the base-pc
- [ ] perform `ssh-copy-id` and make sure there is a valid `.bashrc` (cob_default.bashrc is fine) th

[2016-04-07 07:24] fmessmer commented on #461
The problem is that we cannot use `$(find cob_bringup)` within the `env-loader` part of the `machine`-tag as it gets resolved **before** being passed to the remote PC!

Thus, if an overlay of `cob_robots` exists on the b1-PC, "/u/user-name/git/care-o-bot/src/cob_robots/cob_bringup/env.sh" is passed over to the remote PC, e.g. h32.
However, if no overlay exists on the remote-PC, this file does not

[2016-04-07 07:35] fmessmer commented on #461
I don't have a good solution yet, but maybe we could put the `env.sh` from `cob_bringup` into a folder that can be accessed by all users, e.g. `/opt/care-o-bot`.
We would need to put this file there when setting up a PC afresh...or let the robot users install the `env.sh` into this folder instead of into [`${CATKIN_PACKAGE_SHARE_DESTINATION}`](https://github.com/ipa320/cob_robots/blob/indigo_dev/c

[2016-04-07 14:43] NadiaHG commented on #461
If I understood right , please @ipa-fmw correct me if I am wrong, the use of a 32 bits machine is temporal. The issue with the sound driver and 64 linux system should be solved soon. I don't think that make sense put  effort on that. what about use for the moment the `/opt/ros/indigo/env.sh` ?? or the release version of cob_sound is out-of-date?

My upstart installation also create a env.sh file,

[2016-06-10 06:58] NadiaHG opened #483 "[setup raw3-1]Find out the phidgets serial on raw3-1"

[2016-06-10 06:58] #403 closed, assigned to nobody

[2016-06-23 08:05] mgruhler commented on #231
fixed in #470 and ipa320/cob_navigation#66

[2016-06-23 08:05] #231 closed, assigned to nobody

[2016-08-10 06:44] floweisshardt opened #516 "remove softkinetic from bringup"
there's no robot which uses softkinetic anymore, so we can get rid of the dependency.

[2016-08-10 14:03] floweisshardt commented on #516
@ipa-nhg: do you know any of our robots still using softkinetic?

[2016-08-22 16:30] floweisshardt opened #526 "cob4: add head_cam_link to urdf"

[2016-09-05 09:10] floweisshardt opened #533 "cob4-5 arm right in quick stop"
after resetting the arm reference position with the Schunk MTS tool, we experience strange behaviour of the arm (not sure if it was there before too).

I sometimes can init, but then the modules show quick stop or emergency error. So it is impossible to move the arm. Recovering says "True" and in diagnostics you can very shortly see OK, but the quick stop or emergency stop is active again. see can

[2016-09-05 09:14] floweisshardt commented on #533
@ipa-mdl: any idea?

[2016-09-05 09:23] floweisshardt commented on #533
@ipa-uhr: FYI

[2016-09-05 09:47] mathias-luedtke commented on #533
Quickstop means that the chain halted because of a failure with one module (or as a result of a service call to halt).

Module reached an internal (end) limit: if the hardware was aligned correctly then the (MTS) config is broken.

Not sure about the SDO errors, do you use the latest overlay?
**Update: Both relate to `velocity_demand_value`**

[2016-09-05 09:59] floweisshardt commented on #533
when updating the reference position we did not modify anything expect the baudrate and canID as it was reset by the MTS tool. Can I simply copy the config from the left arm?

Can you see which joint throws the internal limit? We only resetted module 1 (ID: 51)

[2016-09-05 10:31] floweisshardt commented on #533
here's another series of calls to init

[code]

and recover says:

[code]

[2016-09-05 10:34] mathias-luedtke commented on #533
I don't know, I have never configured the arms, ask @ipa-tif

Node 53. But it is just a single message which looks like corrupt data. I believe it did not stop because of the internal limit flag (it is ignored during initialization), but because of a sudden "mode switch" to 255/-1 (instead of 0)

Can you provide me a dump of a SDO error at initialization?

[2016-09-05 10:35] floweisshardt commented on #533
@ipa-mdl: it seems as I cannot lock it down to only one error message (quick stop, emergency stop, transition, enable motor, internal limit). also the SDO erros are quite numerous (607asub0, 6061sub0, 1600sub1, 606bsub0, 1a02sub0, ...). I think I need a good hint how to lock down the error or what module might have the wrong configuration or what module is broken...

[2016-09-05 10:36] floweisshardt commented on #533
candump with SDO error at init is here: https://gist.github.com/ipa-fmw/13ec36be17b7af4bebf7f9862bf394d3

[2016-09-05 10:37] mathias-luedtke commented on #533
Is this one single candump or multiple files? I cannot open the website properly..

[2016-09-05 10:38] floweisshardt commented on #533
is is only for can2 (arm_right) on cob4-5-t1

[2016-09-05 10:43] mathias-luedtke commented on #533
I meant: did you upload multiple files for each failure or just one. I managed to download it as  zip file and it is just one file.

[2016-09-05 10:44] floweisshardt commented on #533
this is just one file per gist link.

[2016-09-05 10:46] mathias-luedtke commented on #533
I missed the second link ;)

[2016-09-05 11:09] mathias-luedtke commented on #533
Node 53 is sending an unexpected response.
I am not sure which part of it forces the driver to quick-stop - either internal limit or the "mode switch".
This might happen while the driver expects a response (in another thread) from another node, but was interrupted by the quick-stop.
Do not hunt the SDO errors, they are just a symptom (=last error message, they do not accumulate).

It look like a b

[2016-09-05 11:11] floweisshardt commented on #533
ok, so what do you recomend? Can we do anything on the ROS/Canopen level? or should I reset the firmware?

are you sure it is module 54 which causes all the trouble?

[2016-09-05 11:12] mathias-luedtke commented on #533
No! Node 53.

Ask Schunk if this is a known issue with the old firmware (or whatever version the arm is running)

[2016-09-05 11:41] floweisshardt commented on #533
I contacted Schunk and send the candumps to F. Friedrichs. But unfortunately their firewall prevents them from viewing github pages!

[2016-09-05 12:10] SCHUNK-Osswald commented on #533
Hello, this is Dirk Osswald from SCHUNK (some people here _are_ allowed to access github...)

I'm going to analyze your logfiles, but that will take some time (preparing the files for CANoe, finding the interesting parts,...). Right now I cannot relieably guess how long that will take, but I fear it will be more than an hour.
In the meantime you could provide me with some general information:
- Wh

[2016-09-05 12:15] floweisshardt commented on #533
- This is a Care-O-bot 4 arm. So we're using a PRL+100 (SerialNo 0031072, CanID 51) as first module and then three ERB (CanIDs: 52/53, 54/55, 56/57).
- Baudrate is 500k
- you can find our dcf file at https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/common/Schunk_0_63.dcf

[2016-09-05 12:16] floweisshardt commented on #533
@ipa-mdl: do you have any more CANOpen related infos for Dirk?

[2016-09-05 12:25] mathias-luedtke commented on #533
Readable PDO mapping: https://github.com/ipa320/canopen_test_utils/blob/indigo-devel/scripts/schunk_mapping.py

Readable candumps: https://gist.github.com/ipa-mdl/fa95d202dd67eca9a4d32a446109eda1

@SCHUNK-Osswald: please note we use as velocity scaling of 1/250 deg/s to fit into the 16 bit command

[2016-09-05 12:28] SCHUNK-Osswald commented on #533
Just a quick query: I got 2 separate log files from Frank Friedrichs: arm_right_quick_stop and arm_right_quick_stop2

Whats the difference / story / symptomatic behind?
Is one file the "ok-case" and the other the "failure" case?

[2016-09-05 12:28] floweisshardt commented on #533
I just saw that I get the following error while beeing connected through USB to the PRL in the MTS Software:

[code]

Is this ok or might that be a hint for the error?

[2016-09-05 12:30] floweisshardt commented on #533
@SCHUNK-Osswald: the two files are related to the output shown in the original post of this ticket (links to gist). In both cases it was not possible to move the modules.

[2016-09-05 12:34] mathias-luedtke commented on #533
@SCHUNK-Osswald: just different tries, the SDO error are just consequential, the major problem is:

[code]

[2016-09-05 12:34] SCHUNK-Osswald commented on #533
OK, thx - I will eventually have to read this longish thread then ;-)

Your question regarding the wrong Data CRC is most likely not a good hint at the error. But I will take that into cosideration anyway.

[2016-09-05 12:35] mathias-luedtke commented on #533
@ipa-fmw: You could test the arm without node 53, just to make sure

[2016-09-05 13:12] floweisshardt commented on #533
running without 53 doesn't solve the problem. here's the candump with one time "init" and one time "recover". Both calls succeeded but after approximately 1sec all modules report an error again

[code]

[2016-09-05 13:44] floweisshardt commented on #533
if I randomly uncomment just one module, I cannot initialize the chain. If I randomly uncomment 3-4 modules (that means 2-4 are active) the chances are better to be able to initialize. Even though the chain is principally working, it is most often not longer than 10sec working without hearing the brakes switch in and recovering is needed.

[2016-09-05 13:46] floweisshardt commented on #533
already midnight in Korea, so I'll give up for today. Thanks to @ipa-mdl and @SCHUNK-Osswald to help tracking down this issue.

As this is not resolved, we unfortunatelly have to solve this remotely.

[2016-09-05 14:02] mathias-luedtke commented on #533
(https://gist.github.com/ipa-fmw/c6494f033767df99a19aa6822fef56a9)

All nodes report EMCY 8250 "RPDO Timeout", and the candump confirms that no data was sent out. Did you see a high CPU/IO load from other ROS nodes?

All these candumps look a little bit suspicious as all incoming messages have the same timestamp.
Not sure what's going on. I would test it on another PC with a different CAN dongle.

[2016-09-05 14:19] floweisshardt commented on #533
CPU load is <5% on all 4 cores. Arm left is running on same pc, same can card, same ROS-configuration and is working without problems.

[2016-09-05 15:43] SCHUNK-Osswald commented on #533
I have some observations / further queries to make:

1 candumps do look suspicious to me as well:

(1473066364.289796)  can2  3B3   [8]  **D9 D6 00 00** 00 00 00 00
(1473066364.289796)  can2  3B4   [8]  E3 53 00 00 00 00 00 00
(1473066364.289796)  can2  1B4   [3]  60 92 00
(1473066364.289797)  can2  3B5   [8]  61 CD FE FF 00 00 00 00
(1473066364.298044)  can2  080   [0](1473066364.298546)  can2  1

[2016-09-05 16:25] mathias-luedtke commented on #533
The driver starts in "no mode" state per default.
The mode will be set later, but the driver did not get that far.
(For newer firmware version the mode can be set beforehand)

I don't think that this behaviour results from a genuine bug in the firmware or the ROS driver.
In addition more than one module if affected.

@ipa-fmw: did you touch the end resistor dip switches?

[2016-09-07 07:03] SCHUNK-Osswald commented on #533
I just analyzed the log files a little more and there are numerous of these "outlier" data for all nodes. Data of Node 53 e.g. somtimes has the position bytes in the place of the velocity bytes while the position bytes are filled with garbage.

The attached image shows the reported positions over time of all nodes from the arm_right_quick_stop2 log as a 2D-plot.
![position_outliers](https://cloud.

[2016-09-21 12:42] floweisshardt commented on #533
in another test today we figured out that
- switching can interfaces makes no difference (left arm works on all can devices, right arm does **not** work on all can devices)
- switching cables between can card and first module of the arm does not make a difference
- it is still possible to move all joints individually and in small groups (e.g. 3 modules together). But the more joints we're using it

[2016-09-29 16:48] NadiaHG commented on #526
Done https://github.com/ipa320/cob_robots/pull/541

[2016-10-11 16:26] floweisshardt opened #546 "check image flip with mode=1 for head_cam"
see comments in https://github.com/ipa320/cob_robots/pull/541#pullrequestreview-3712086

[2016-11-04 13:46] floweisshardt opened #552 "cob3-9 URDF broken"
from travis (`Parameters [has_podest] were not set for macro xacro:schunk_pg70`):
[code]

[2016-11-10 22:34] floweisshardt commented on #552
fixed in #553

[2016-11-11 09:07] #552 closed, assigned to ipa-nhg

[2016-11-21 10:14] NadiaHG opened #557 "cob4-7: head axis error"
After init the axis the service returns a success and if I try to init again the component answer that the component is already initialized, I can read the joint_states but I can't move it (the controllers are not properly loaded).

**Canopen RELEASE version**

INIT:
[code]

RECOVER:
[code]

**Canopen actual upstream version**

INIT:
[code]

RECOVER:
[code]

@ipa-mdl do you have any idea where cou

[2016-11-21 10:15] #526 closed, assigned to nobody

[2016-11-21 11:29] mathias-luedtke commented on #557
Do not use the release version, it will not work.

`Node has emergency error`.
Diagnostics should list the error code(s).
@ipa-tif might help to decode them.

[2016-11-21 11:40] NadiaHG commented on #557
That is the problem , diagnostics is green, says that everything is working (?)

[2016-11-21 13:26] mathias-luedtke commented on #557
`candump canX | rosrun canopen_test_utils readable.py elmo_mapping | grep EMCY`

[2016-11-22 16:00] NadiaHG commented on #557
INIT:

['can1', 'EMCY', 72, 'EEC:', 'FF10', 'Reg:', '81', 'Msef: ', 'A800000000']
['can1', 'EMCY', 72, 'EEC:', 'FF10', 'Reg:', '81', 'Msef: ', 'A800000000']

@ipa-mdl Thanks

[2016-11-22 16:18] mathias-luedtke commented on #557
FF10=Failed to start motor
0xA8=168=Speed too large to start motor
[according to the manual ;)]

[2016-11-24 07:39] NadiaHG commented on #557
@ipa-tif could you please take a look at this issue? Thanks!

[2016-12-09 08:20] fmessmer opened #563 "[Enhancement] Update xacro's according to latest syntax"
as done in https://github.com/ipa320/schunk_modular_robotics/pull/171

as documented in [xacro](http://wiki.ros.org/xacro#Property_and_Property_Blocks)

affects:
 - xacro:include
 - xacro:property
 - xacro:insert_block
 - xacro:arg
 - xacro:if/xacro:unless

apply these changes to __all__ xacro-files (cob_calibration_data, cob_common, cob_robots,....etc.)

Use the [helper command](http://wiki.ros.o

[2016-12-15 17:56] fmessmer commented on #461
Has this been solved?
Still using the 32bit machine? What about user management?
@ipa-nhg please comment and close (if applicable)

[2016-12-15 17:59] fmessmer commented on #483
Seems to be fixed (https://github.com/ipa320/cob_robots/pull/475/files#diff-c3c1576e01fb1063d4a430245c2480d6R6)
@ipa-nhg @ipa-bnm please close

[2016-12-15 18:07] fmessmer commented on #516
softkinetic seems to be removed completely in https://github.com/ipa320/cob_robots/commit/badd35106f68524b60b019f52a0bcef399f7313b#diff-a2c8ca93cf7d49250f0b3e480c8fc453
@ipa-nhg please comment and close

[2016-12-15 18:11] fmessmer commented on #546
mode=1 seems to be used https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/cob4-2/config/image_flip_params_head_cam.yaml#L3

Is this behavior satisfying?
@ipa-fmw @ipa-nhg please comment and close

[2016-12-15 18:13] fmessmer commented on #557
I guess #568 #566 #561 are related
@ipa-mdl @ipa-nhg please comment and close

[2016-12-16 10:24] NadiaHG commented on #546
Can be closed, @ipa-rmb solved the problem with this PR: https://github.com/ipa320/cob_perception_common/commit/61312f7ad5e501fb40b020b99e322caea3f01f6a

[2016-12-16 10:24] #546 closed, assigned to nobody

[2016-12-16 10:26] NadiaHG commented on #516
Yes, it is done, the issue can be closed.

[2016-12-16 10:26] #516 closed, assigned to nobody

[2016-12-19 23:53] mathias-luedtke commented on #563
Please do not forget to pull in the xacro namespace in the root element:
```<robot xmlns:xacro="http://www.ros.org/wiki/xacro">```

[2016-12-20 14:36] mathias-luedtke opened #576 "Move base home offset configuration to cob_calibration_data"
If we move the data out of the driver.yaml, we can reuse the same driver config for all cob4 bases.
The param upload can be done in a single place after #575 was merged.

@fmessmer FYI

[2017-01-10 15:50] floweisshardt commented on #461
in cob4-7 we're not using a 32-bit ubuntu on the head pc any more.

[2017-01-11 08:21] fmessmer opened #577 "Use CMake-Macro to retrieve sub-dir-list"
use for ```robotlist``` and ```envlist``` e.g. for install tags in various packages

See http://stackoverflow.com/questions/7787823/cmake-how-to-get-the-name-of-all-subdirectories-of-a-directory

as suggested by @ipa-mdl in https://github.com/ipa320/cob_robots/pull/573#discussion_r93017007

[2017-01-11 09:22] andreeatulbure commented on #422
Hello,

I and @destogl tried to test the ros_canopen config #405 on the raw3-5. We followed the config steps described in #405
System set-up:
- overlay cob_driver with ipa320/cob_driver#258
- source overlay https://github.com/ros-industrial/ros_canopen.git
- source overlay: https://github.com/ros-controls/ros_control.git (maybe optional)
- disable peak driver and activate socketcan peak_usb
- conf

[2017-01-11 09:24] mathias-luedtke commented on #577
File globbing might stop CMake from rebuilding as it does not detect changes..
I think we can export the (hand-crafted) robotlist from ` cob_hardware_config`.
In order to use it, we have to `build_depend` on `cob_hardware_config`.

In `cob_moveit_config` we should install files from the package directory with exclusion rules.

[2017-01-11 12:39] mathias-luedtke opened #580 "Enable heartbeat producer for Schunk arms"
Speeds up init

[2017-01-11 13:34] fmessmer commented on #563
only cob_robots missing...

[2017-01-11 16:22] fmessmer commented on #483
we will receive an updated raw3-1 config by @ipa-bfb soon anyway

[2017-01-11 16:22] #483 closed, assigned to benmaidel

[2017-01-17 17:57] ipa-fmw commented on #563
merged and done

[2017-01-19 09:41] fmessmer commented on #422
When working in on #588 I wondered why we still use the "old" base driver for raw3-1 and raw3-3....
I thought we already switched those to use canopen?
That would also give @destogl and @andreeatulbure a better template for raw3-5

@ipa-mdl @ipa-bnm @ipa-mig
Did we only do this on hardware and not play it back to ipa320?

[2017-01-19 09:46] fmessmer commented on #437
After cleaning up unsupported robots #588, we will start introducing a more generic robot-/module-/component-base structure for all URDF, launch and config files... as discussed with @ipa-fmw @ipa-nhg @ipa-mdl

This will allow further de-duplication of code, more consistency between robots, better harmonization of HW/Sim-behavior as well as easier future maintenance and up-scaling...

[2017-01-19 09:54] fmessmer commented on #461
I guess then this can be closed...

[2017-01-19 09:54] #461 closed, assigned to nobody

[2017-01-19 09:56] mathias-luedtke commented on #422
I don't think so.
Only as a test.

[2017-01-19 10:12] NadiaHG commented on #461
It can be closed. Actually it is already done, it was needed in case that you source a different workspace and start something remotely, for further info see https://github.com/ipa320/cob_robots/pull/537

[2017-01-19 15:55] mgruhler commented on #422
@ipa-fxm this has only been a test.

[2017-01-19 18:51] fmessmer commented on #577
exported lists are used/proposed in all related packages....

[2017-01-19 18:51] #577 closed, assigned to nobody

[2017-01-20 08:01] floweisshardt commented on #422
if the test was succesfull, what prevents us from changing it permanently? would reduce a lot of code overhead with the old base_drive_chain...

[2017-01-20 08:26] mathias-luedtke commented on #422
These were the very first tests..
Back then we discovered problems with the homing switch.
These should be resolved now, because we have `cob_elmo_homing`.

[2017-01-20 08:44] fmessmer commented on #422
Where are those changes and configs? robot-hw only? raw3-1 or raw3-3? do you remember?

[2017-01-20 09:06] mathias-luedtke commented on #422
Not really..
I think, this is the full raw config for the controller: https://github.com/ipa320/cob_control/blob/indigo_dev/cob_omni_drive_controller/doc/full_overlay_example.yaml

I guess it would be easier start from scratch or to extend the cob4-2 config.

[2017-01-20 09:11] mathias-luedtke commented on #422
@andreeatulbure: It would be great if you could point us to the config you have tested.

[2017-01-23 15:38] #563 closed, assigned to nobody

[2017-01-24 11:14] andreeatulbure commented on #422
Here is the config I used: https://github.com/andreeatulbure/test/tree/indigo_dev/cob_hardware_config/raw3-5/config
For base_controller.yaml I did not use the full_overlay_example file because when using it there have been errors while loading the three controllers.

[2017-01-24 13:07] mathias-luedtke commented on #422
@andreeatulbure:

please add https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/cob4-2/config/base_controller.yaml#L12 to your config

Have you set UM=2?
(https://github.com/ipa320/canopen_test_utils)

rosrun canopen_test_utils canopen_elmo_console can0 1 <<< "UM"
(test for 1 to 6)

[2017-01-25 08:51] andreeatulbure commented on #422
@ipa-mdl
I added the line to my config and ran the rosrun command which returned UM=2. But it still does the same thing as before.

[2017-01-25 10:08] andreeatulbure commented on #422
It is working now

[2017-01-25 10:10] mathias-luedtke commented on #422
[Just finished writing before the last message ;)]

@andreeatulbure: I am sorry, I haven't read your error description properly. I guess I was confused by "limit position" and "zero position" and thought that homing does not work at all.

However, setting the required_drive_mode was correct anyway ^^

This is the intended behaviour.

So homing works and the new "zero" position was set.

Moving to

[2017-01-27 08:26] bbrito opened #606 "cob3-6 files missing"
We are still working with cob3-6. The robot is fully operational and with Indigo. We should keep its configuration.

[2017-02-09 08:49] fmessmer commented on #333
related to https://github.com/ipa320/cob_android/issues/5

[2017-02-15 12:04] bbrito commented on #606
@ipa-fxm should I try to add the files to the current version of indigo dev of cob3-6?

[2017-02-15 16:25] ipa-bfb-sc commented on #606
@ipa-fmw @ipa-bfb @ipa-fxm  why did we finish with cob3-6 configuration if we still have one operational?

[2017-02-16 10:42] bbrito commented on #606
@ipa-bfb-sc is already taking care of it

[2017-03-17 11:56] #387 closed, assigned to ipa-nhg

[2017-03-17 11:58] fmessmer commented on #437
#622 is a significant step towards a simplified configuration structure

I will apply a similar concept for the other "unifiable" components, e.g. torso, head, sensorring, arm(s),...

[2017-03-17 12:03] fmessmer commented on #437
Also, we would need to adjust the structure to the robot names we are using now to refer to a (physically existing) robot composition, i.e. `cob4-paul-ingolstadt`...following @ipa-tif's spreadsheet Verbauliste.xlsx

The ultimate goal could be to even generate launch files based on a module configuration using a tool based on @ipa-mdl's [roslaunch-dump](https://gist.github.com/ipa-mdl/66b14a895e130

[2017-03-20 09:34] floweisshardt opened #637 "verify use of image_proc in indigo/kinetic"

[2017-03-20 10:29] benmaidel commented on #637
see https://github.com/ipa320/cob_robots/pull/608#issuecomment-287722252

[2017-03-20 10:29] #637 closed, assigned to nobody

[2017-03-20 12:57] floweisshardt commented on #557
not relevant any more. will open new tickets concerning new HW and SW versions if neccessary

[2017-03-20 12:57] #557 closed, assigned to ipa-nhg, ipa-tif

[2017-03-20 15:03] fmessmer commented on #372
@ipa-nhg what about this issue?
cob4-1 is obsolete...but do we normally calibrate the asus xtion cameras (I guess its the torso_left and torso_right)

[2017-03-20 15:07] fmessmer commented on #437
@ipa-mdl asked for input about `roslaunch-dump` (with the final goal being added to `roslaunch`)
https://github.com/ros/ros_comm/issues/1022

[2017-03-20 15:11] NadiaHG commented on #372
this can be closed, we are not calibrating the asus cameras, and cob4-1 and cob4-2 are obsoletes.

[2017-03-20 15:11] #372 closed, assigned to ipa-nhg

[2017-03-20 17:34] fmessmer commented on #533
I guess we can close this as the arm was broken anyway and is currently being repaired...@ipa-fmw @ipa-nhg @ipa-tif

[2017-03-21 14:13] floweisshardt commented on #533
let's hope that repairing helps with the issue above. I'll reopen if it does not fix the issue.

[2017-03-21 14:13] #533 closed, assigned to nobody

[2017-03-22 14:15] fmessmer opened #641 "base_controller not running correctly in simulation"
as reported by @ipa-bfb
they seem to be drifting...needs investigation....

[2017-03-22 14:57] floweisshardt commented on #641
~~are you sure this is the base_controller? What I observed was just the simulated robot model slightly drifting in gazebo (independent of wheel positions and controller)~~

[2017-03-22 15:57] bbrito commented on #641
try to use cob_teleop and see if it works...

[2017-03-22 16:07] floweisshardt commented on #641
sorry, ignore my comment. Seems as the recently introduced commits broke driving the robot in gazebo. we'll have to investigate.

[2017-03-22 18:03] fmessmer commented on #641
Why are the `steer_target_velocity` that high? Is this rad/sec? @ipa-mdl
[code]

~~Is the non-zero value in the `steer_target_position` some kind of "homing position"? Where is this defined?~~
It's [this line for cob4](https://github.com/ipa320/cob_robots/blob/264c1eb53bf04462af0b61ecc2e42afc13c3752f/cob_hardware_config/common/cob4_base_controller.yaml#L31) and [this line for raw3](https://github.

[2017-03-22 18:26] mathias-luedtke commented on #641
I had the same problem when we implemented the dynamic-reconfigure feature.
For some reason it just works with you setup.

Of course ;)

+1
The starting postions point away from the base link.
That's why the back wheel has a neutral position of 180 degrees

[2017-03-23 08:15] fmessmer commented on #641
There seems to be something else:
I can set the steer_joints to the desired neutral position (cob4-2) using
[code]
the joint_states are then at the desired position, but still the wheels drift again...I also cannot use `roslaunch cob_teleop teleop_keyboard.launch`

Even if I comment the `steer_neutral_position` from the yaml, the drifting occurs and I cannot drive...

@ipa-mdl, I don't know why it

[2017-03-24 12:20] floweisshardt commented on #641
this commit seems to have broken moving the base in simulation: https://github.com/ipa320/cob_common/commit/6f6ccc2552e42d57c851997e4bf825fa5ea1c3d0
If I revert this, simulation is OK again. @ipa-mdl: any idea what might cause the troubles?

[2017-03-24 12:26] floweisshardt commented on #641
setting the effort limit back to `100` fixes the issue. see https://github.com/ipa320/cob_common/pull/215

[2017-03-24 12:31] #641 closed, assigned to fmessmer

[2017-03-24 12:31] floweisshardt commented on #641
@ipa-bfb: FYI fixed.

[2017-03-24 12:38] bbrito commented on #641
Awesome! Thanks ;)

[2017-04-01 16:21] bbrito opened #644 "upload_robot.launch"
I'm having problems with the --inorder tag. Is this suppose to work?

[2017-04-01 16:23] fmessmer commented on #644
what URDF are you trying to upload?

[2017-04-01 16:24] bbrito commented on #644
Just launching cob4-7

[2017-04-01 16:26] fmessmer commented on #644
what's the error?
we used it on the robot yesterday...

[2017-04-01 16:28] bbrito commented on #644
Sorry it is working for cob4-5 and cob4-7. The problem is with rob@work:

while processing /home/bfb/catkin_ws/src/cob_simulation/cob_gazebo/launch/robot.launch:
while processing /home/bfb/catkin_ws/src/cob_robots/cob_bringup/robots/raw3-1.xml:
while processing /home/bfb/catkin_ws/src/cob_robots/cob_hardware_config/common/upload_robot.launch:
Invalid <param> tag: Cannot load command parameter [rob

[2017-04-01 16:36] fmessmer commented on #644
works for me:
[code]
(except for urdf or universal_robot - but this is just a warning)

Check your workspace and update...

[2017-04-01 16:38] fmessmer commented on #644
you can get more information by using
`roscd cob_hardware_config/raw3-1/urdf &&  rosrun xacro xacro --inorder raw3-1.urdf.xacro`

[2017-04-01 16:44] bbrito commented on #644
Solved! Thanks for the help ;) Have a nice weekend and if you are in for a run let me know ;)

[2017-04-01 16:56] #644 closed, assigned to nobody

[2017-04-06 12:55] floweisshardt commented on #437
reminder for @ipa-fxm: extract sick scanners from base urdf + then remove nav configs for mlr bases as they do not have laser scanners anymore

[2017-04-12 12:30] fmessmer commented on #437
done in https://github.com/ipa320/cob_robots/pull/654

[2017-04-18 14:35] NadiaHG opened #656 "cob3-2 tray not moving (0)"
init: ok
joint_states: OK

parameter config:
[code]

bringup log:
[code]

candump: https://gist.github.com/ipa-nhg/93962016397cad8f76a223f77919467a

[2017-04-18 14:35] NadiaHG commented on #656
@ipa-mdl: please have a look at the candump

[2017-04-18 16:21] mathias-luedtke commented on #656
[cob3-2_tray_not_moving.txt](https://github.com/ipa320/cob_robots/files/930355/cob3-2_tray_not_moving.txt)

The hardware did not switch.
`ros_control` or `ros_canopen` is outdated.
Please confirm that current state works for our arms.

[2017-04-18 16:41] floweisshardt commented on #656
thanks @ipa-mdl for the hint.
@ipa-nhg: please test tomorrow with an overlay of ros_control and ros_canopen (I can help you compile)

[2017-04-19 06:18] NadiaHG commented on #656
@ipa-mdl thank you for your help. ros_canopen is updated ( release version ), for ros_control I updated some packages but not the whole metapackage. I will try this , I hope an update of ros_control doesn't affect to the schunk_powercube_chain driver installed on cob3-2...

[2017-04-19 06:48] mathias-luedtke commented on #656
Release version is fine, no overlay is needed.
Please  check that `canopen_motor_node` got updated.
(updating the metapackage does not update the individual packages)

I guess you will need  `controller_manager` and `hardware_interface` at least.

It is completely unrelated :)

[2017-04-19 12:13] NadiaHG commented on #656
@ipa-mdl thanks a lot! updated ``controller_manager`` and ``hardware_interface``solved the problem with the tray,  it was also needed a new MTS configuration,  this PRL+ build had a different  configuration (not inverted motor,  new limits , new reference position...).

The tray is running and successfully  tested with the default config positions, buttttttt now the  torso is not working, I am not

[2017-04-20 11:33] NadiaHG opened #657 "urdf_tutorial not compatible with the current cobs URDF (2)"
For example:

[code]

the problem is that we need to set --inorder to read the xacro file (https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/upload_robot.launch#L8).

[2017-04-20 11:34] NadiaHG commented on #657
Fixed in https://github.com/ipa320/cob_robots/pull/658

[2017-04-20 12:54] floweisshardt commented on #656
we agreed to stop here and not further debug cob3-2. @ipa-uhr will communicate that to khenglee

[2017-04-21 16:46] fmessmer commented on #422
I am willing to have a look at this for `raw3-3` but need assistance from @ipa320/navigation-push (for `sudo` access) as well as maybe @ipa-mdl/@ipa-bnm (for can-driver/canopen support)

[2017-04-24 10:57] #657 closed, assigned to ipa-nhg

[2017-04-24 12:17] #656 closed, assigned to ipa-nhg

[2017-04-27 07:05] jabbenseth commented on #422
After migrating raw3-3 to canopen a few things we (@ipa-mdl) had to do different than described in https://github.com/ipa320/cob_robots/pull/405#issuecomment-182945753

1) We did not need a source overlay of `ros_control`

2) The whole configuration for the driver was different. The CAN Card we use does not work with the `peak_pci` drivers. Instead we installed the driver supplied by peak (http://

[2017-04-27 07:12] fmessmer commented on #422
Issue is https://github.com/ipa320/cob_robots/pull/661#issuecomment-297448019
I'm on it

[2017-04-27 13:31] mathias-luedtke commented on #422
@ipa-jba: Step 3 should be optional

[2017-05-06 13:14] fmessmer commented on #437
atm none of the solutions proposed by @ipa-fxm and @ipa-nhg fully meet our requirements
also current efforts require a final decision regarding future maintaining responsibilities and supported hardware

thus, I'm moving it to Backlog

[2017-05-08 10:46] #580 closed, assigned to fmessmer

[2017-05-08 14:27] fmessmer commented on #422
`raw3-3` is migrated....only missing platform is `raw3-1`
@ipa-mig @ipa-jba and @ipa-rmb will sync to find a time slot where the migration could be scheduled...

[2017-05-09 07:34] ipa-rmb commented on #422
Yes we talked already, we can start on 18.5. but preferably on 22.5.

[2017-05-11 11:24] floweisshardt commented on #606
is there any decision here how we continue with cob3-6 and cob3's in general? @ipa-bfb: please get feedback from BTG

[2017-05-12 14:40] bbrito commented on #606
BTG said that we should discuss this on a meeting Monday. Do you have any free time?

[2017-05-15 11:59] floweisshardt opened #669 "review camera coordinate frames"
there's a mismatch between `_link` and `_optical_frame` for the cameras we're using in cob_bringup
- realsense: OK, compliant with REP103 http://www.ros.org/reps/rep-0103.html (done in https://github.com/ipa320/cob_robots/pull/614)
- Asus/kinect: Not OK
- Sick Visionary: Not Ok
- usb head cam: to be verified

[2017-05-15 12:43] floweisshardt commented on #606
decision is to not merge the cob3-6 config back to indigo_dev, so I'll close this issue

[2017-05-15 12:43] #606 closed, assigned to nobody

[2017-07-03 13:43] fmessmer commented on #422
@ipa-rmb @ipa-jba @ipa-mig
have you scheduled a hackathon for the raw3-1 canopen migration yet?

[2017-07-03 13:45] fmessmer opened #676 "[diagnostics_aggregator] fix aggregator groups for c++-based hz-monitor"
as a left-over from https://github.com/ipa320/cob_robots/pull/672#pullrequestreview-41196157
might require changes in [topic_status_monitor](https://github.com/ipa320/cob_command_tools/blob/indigo_dev/cob_monitoring/src/topic_status_monitor.cpp) directly...

[2017-07-04 05:52] mgruhler commented on #422
not yet. But I guess @ipa-rmb and @ipa-jba need to take the lead on this...

[2017-07-04 12:39] floweisshardt commented on #437
we won't work on this for now

[2017-07-04 14:15] mathias-luedtke commented on #437
No need to close it.

[2017-07-04 14:20] fmessmer commented on #437
it's been in the sprint backlog anyway...

[2017-07-11 10:53] ipa-rmb commented on #422
As far as I can remember @ipa-jba asked me for possible time slots doing this upgrade. I am aware of the following next presentations of the robot: 19.7., 25.7., and maybe 2.8.
The work can be done at anytime in between with sufficient time until the next demo (and everything should work again afterwards). However, please also ask @ipa-bfb and Falk as well whether they have scheduled work on the r

[2017-07-11 11:05] ipa-rmb commented on #422
Raw3-1 will also be used in the morning of 21.7.

[2017-07-11 12:11] fmessmer commented on #422
Demo's scheduled:
 - 19.7.
 - 21.7.
 - 25.7.
 - 02.8.

@ipa-bfb @ipa-fke @ipa-jba please add to the list...then schedule a session...consider 2-3 days to ensure everything is running smooth...preferably sync with @ipa-mig as did the Elmo tuning for raw3-3!

26.7.+27.7.?

[2017-07-11 12:12] ipa-rmb commented on #422
I am fine with 26.7.+27.7.

[2017-07-13 19:10] fmessmer commented on #676
unfortunately, the `diagnostic_updater::TopicDiagnostic` class (see http://docs.ros.org/kinetic/api/diagnostic_updater/html/classdiagnostic__updater_1_1TopicDiagnostic.html) does not allow you to explicitly set the name of the diagnostic task - which is used by the diagnostic_analyzer during the matching phase...
This is different from the python-variant where the name can be set via the `diagnost

[2017-07-13 19:10] #676 closed, assigned to fmessmer

[2017-07-13 19:14] fmessmer commented on #422
@ipa-jba
are you available on those dates?
(at least ask @ipa-mig about the Elmo tuning procedure!)

[2017-07-15 09:16] mjpatell opened #682 "Error while doing moveit setup assistance"
Hello,

I am getting below error when I was doing moveit setup assistance for care-o-bot4. For moveit setup assistance, I am loading cob4-5.urdf.xacro. Any one can help me to get rid of this error.

![error moveit_setup_assistance](https://user-images.githubusercontent.com/28396588/28238203-ff170548-694e-11e7-80a2-c1c81780ab63.png)

Thank you.

[2017-07-16 18:05] fmessmer commented on #682
duplicate of https://github.com/ipa320/cob_manipulation/issues/105...

[2017-07-16 18:05] #682 closed, assigned to nobody

[2017-07-17 15:17] fmessmer commented on #682
for the time being simply run:
`rosrun xacro xacro --inorder raw3-1.urdf.xacro > raw3-1.urdf`
within `cob_hardware_config/robots/raw3-1/urdf` then load the urdf  - and not the xacro from the setup assistant...

[2017-07-18 07:55] jabbenseth commented on #422
I think I can make it work

[2017-07-18 08:19] bbrito commented on #682
We want to create the moveit config for cob4 not raw3-1.

Is it the same procedure?

[2017-07-18 18:42] fmessmer commented on #422
@ipa-jba FYI
https://github.com/ipa320/care-o-bot/issues/42#issuecomment-316152815

[2017-08-03 17:13] fmessmer commented on #422
raw3-1 is migrated in #702
which is the last robot (which is still supported) that uses the old "base-drive-chain"-setup

as a follow-up now several launch files and packages become obsolete....cleanup is tracked in new issue #703

[2017-08-03 17:19] fmessmer opened #703 "cleanup after canopen migration of all robots using base_drive_chain"
follow-up of #422

now several launch files in `cob_bringup` are not needed anymore and could be removed (resulting in reduced dependencies in `cob_bringup/package.xml`)
we might also want to get rid of some packages as discussed, candidates are:
 - cob_driver/cob_canopen_motor
 - cob_driver/cob_generic_can
 - cob_driver/cob_relayboard
 - cob_driver/cob_undercarriage_ctrl
 - cob_driver/cob_utiliti

[2017-08-04 06:48] ipa-rmb commented on #422
We possibly have a filming appointment with Rainer next Wednesday and afterwards the setup of raw3-1 can be updated completely (including the new torso module).

[2017-08-07 11:57] destogl commented on #422
Hi all,

We still have some small issues that robots gets to edge of stability. Reason for that are controller parameters. Can you give me again link where parameterization process is described? I believe that we are currently the only one using short version of platform, therefore we need a bit different parameters.

Thanks!

[2017-08-07 12:20] fmessmer commented on #422
raw3-3 uses base_short, too
and it's been running for quite a while with canopen now...

did you re-run the native Elmo tuning routine in the Elmo software?

[2017-08-07 12:29] destogl commented on #422
No. Can you please point me how to do this?

[2017-08-11 09:38] #422 closed, assigned to fmessmer

[2017-08-11 11:03] jabbenseth commented on #422
Does does the emergency stop / stuck detector trigger, or is it more of a shaking which gets really strong if the robot rotated on place?

We had the shaking but it was solved setting UM=2 for the drive wheels.
Stuck detector is relaxed now and should not trigger that easy (if you are running low on battery for example)

[2017-09-06 08:14] #703 closed, assigned to fmessmer

[2017-09-15 12:39] fmessmer commented on #669
- intel realsense r200 and zr300 are conform to the standard but might have wrong mount positions in our URDFs...this has been fixed for cob4-12 (in https://github.com/unity-robotics/unity_robots/pull/8) and cob4-7 (in https://github.com/ipa320/cob_robots/pull/720)

 - asus camera did not follow standard....this was fixed in https://github.com/ipa320/cob_robots/pull/720 and tested on cob4-7

**ToD

[2017-09-18 17:01] fmessmer commented on #669
all done in #720 and ipa320/cob_common#233

@ipa-rmb @ipa-fmw @ipa-jba @ipa-fez please review/re-test

[2017-09-20 09:27] floweisshardt commented on #669
tested on cob4-12: OK

[2017-09-21 17:34] fmessmer commented on #669
PR's https://github.com/ipa320/cob_robots/pull/720 and https://github.com/ipa320/cob_common/pull/233 are good to merge

I've created follow-up Issues to track remaining issues:
https://github.com/ipa320/cob_common/issues/234
https://github.com/SICKAG/sick_visionary_t/issues/19

[2017-09-21 17:51] fmessmer commented on #669
@ipa-fmw
https://github.com/unity-robotics/unity_robots/pull/10 finalizes this PR series for `cob4-12`

[2017-09-26 11:59] #669 closed, assigned to nobody

[2017-10-24 13:06] fmessmer opened #732 "use laser_filter pipeline for scanner"
according to @ipa-jba, [laser_filters](http://wiki.ros.org/laser_filters) is quite powerful

investigate setting up a proper filter_pipeline for e.g. the sick scanners that would replace:
 - [cob_scan_filter](https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_bringup/drivers/laser_scan_filter.launch) via http://wiki.ros.org/laser_filters#LaserScanAngularBoundsFilter
 - ~[max_range_fix](https

[2017-10-24 13:07] fmessmer commented on #732
@ipa-srd
can you explain again, why it was necessary to avoid `NaN` in the laser scan and replace it with `max_range`?

[2017-10-24 13:54] stefandoerr commented on #732
With https://github.com/ipa320/cob_driver/pull/358 max range measurements are properly set, i.e. their values are >= than the configured max_range of the respective laser scanner. This is needed so that a node can properly identify max range measurements within the ranges array. For example. the localization module normally filters out max range measurements to avoid matching those measurements ag

[2017-10-25 11:36] stefandoerr commented on #732
Example config:
[code]
Example node

[code]

[2017-10-25 16:11] jabbenseth commented on #732
in the example config `upper_replacement_value` should be on the same indentation level as `use_message_range`

[2017-10-25 16:44] fmessmer commented on #732
once we use this filter_chain, i.e. setting out-of-range values to `inf`, where (in which nav.yaml) is the `inf_is_valid` param to be set?

[2017-10-26 09:08] fmessmer commented on #732
the `LaserScanAngularBoundsFilter` has weird behavior:
 - it **cuts away** scan points in the given interval rather than keeping just those
 - also negative values for the angle parameters seem not to cause problems

thus, I'm just adding the `LaserScanRangeFilter` and keeping the current `cob_scan_filter` for the angular bounds

[2017-10-26 09:11] stefandoerr commented on #732
http://wiki.ros.org/costmap_2d/hydro/obstacles
and add in pkg_nav_config/robots/<robot>/nav/move_base_local_costmap_params.yaml in the respective obstacle layer

[2017-11-03 12:06] fmessmer commented on #732
I tested the related PRs today, i.e. "max_range" of sick_s300 + RangeFilter pipeline + inf_is_valid in costmap

However, the behavior is not as expected, i.e. ranges that are set to `inf` in the laser scan used as a costmap observation source, does not really clear the costmap properly...
@ipa-srd has confirmed that the behavior seen is not correct

@ipa-jba can we have a look at this together som

[2017-11-04 17:36] fmessmer commented on #732
to debug raytracing, @ipa-srd suggested to temporarily remove the inflation layer to better see the actually blocked cells

[2017-12-07 12:56] stefandoerr commented on #732
without having looked into code the chain: setting max range to inf -> using inf_is_valid in costmap does not help, i.e. occupied areas are not cleared although the ray tracing of max range measurements should go through the cell. A successfully tested workaround is to have a `LaserScanRangeFilter`setting max range to some value higher than costmap bounds but lower than obstacle_range param in cos

[2017-12-09 19:06] fmessmer commented on #732
thanks, I will try this next week
are you actually using your pipeline/config on a real robot/agv?

[2017-12-11 09:57] stefandoerr commented on #732
yes, currently running on a customer agv in an industrial environment where a lot of max range measurements appear

[2017-12-20 16:57] fmessmer commented on #732
I'll re-open, as this issue documents quite a bit regarding issues not yet solved:
 - replace [cob_scan_filter](https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_bringup/drivers/laser_scan_filter.launch) via http://wiki.ros.org/laser_filters#LaserScanAngularBoundsFilter
 - implement proper `inf_is_valid` behavior (as it affects RangeFilter parameters

[2018-03-08 09:00] stefandoerr commented on #732
as discussed with @ipa-fxm, the current solution should be reworked. Only the scan that is going into the costmap should be filtered to 10 m. The filter should have no effects on the standard scan and also not on `scan_unified`.
We suggest to have an additional filter at the end of the current chain which does the 10 m cut and the outcoming msg is named something like `scan_costmap` or similar to

[2018-03-08 13:37] fmessmer commented on #732
I implemented this for the unity_robots...it's a pr still which @HannesBachter wanted to test together with slam...
that pr could be ported to cob_robots sidentically...
@ipa-srd @HannesBachter please see https://github.com/unity-robotics/unity_robots/pull/46

[2018-04-20 15:49] fmessmer commented on #732
as discussed today with @ipa-srd @HannesBachter, the scan toolchain looks like this

front - `scan_raw` - (cob_scan_filter) - `scan` (i.e. 30m) -|
 left    - `scan_raw` - (cob_scan_filter) - `scan` (i.e. 30m) -|- (unifier) - `scan_unified`
right - `scan_raw` - (cob_scan_filter) - `scan` (i.e. 30m) -|

... `scan` (30m)- (range filter) - `scan_ranged` (10m) -|
... `scan` (30m)- (range filter) - `sca

[2018-04-20 15:56] fmessmer commented on #732
@ipa-srd @HannesBachter
how about this?

front - `scan_raw` - (cob_scan_filter) - `scan` (i.e. 30m) -|
 left    - `scan_raw` - (cob_scan_filter) - `scan` (i.e. 30m) -|- (unifier) - `scan_unified`
right - `scan_raw` - (cob_scan_filter) - `scan` (i.e. 30m) -|

... `scan_unified` - (range filter) - `scan_unified_filtered` (10m) - (zone filter) - `costmap_scan_filtered`

pushing `scan_unified` through

[2018-04-20 16:08] stefandoerr commented on #732
@ipa-jba @ipa-flg, I discussed this with @ipa-fxm and in our opinion the second chain makes more sense since it's more performant but we would need to change the costmap params in the way that the obstacle layer only subscribes to `scan_unified_filtered` (instead of currently subscribing to the scan's individually). You see any problem with that?

[2018-04-23 15:46] fmessmer commented on #732
I discussed it with @ipa-flg and I'm going to implement the second version both for `unity_robots` and `cob_robots`

then - in order to use the range-filtered scans to improve costmap clearing - @ipa320/navigation-push  will need to adjust their respective costmap yaml files to accept the single, range_filtered, unified scan topic `/scan_unified_filtered` rather than the three individual scans `/b

[2018-05-03 08:59] fmessmer commented on #732
the laser filter pipeline has been set up for `scan_unified` in #757
now it could be used in the costmap.yaml - if desired...

thus, I'm closing this issue

[2018-05-03 08:59] #732 closed, assigned to fmessmer

[2019-08-06 23:20] tfoote opened #781 "cob_bringup 0.6.11 in kinetic fails on debian builds"
From: http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__cob_bringup__ubuntu_xenial_amd64__binary/
[code]

My guess is that the launch file is not installed

Related sync planning thread: https://discourse.ros.org/t/preparing-for-kinetic-sync-2019-08-06/10201 It would be great to have this resolved Wednesday otherwise I'll plan to roll back things on Thursday.

[2019-08-06 23:30] tfoote commented on #781
Digging in a little bit it looks like this package is one of a few cob packages that wasn't updated. Maybe it's cross referenced but needs an update itself following the recent releases.

https://github.com/ros/rosdistro/pull/21922
https://github.com/ros/rosdistro/pull/21924
https://github.com/ros/rosdistro/pull/21926
https://github.com/ros/rosdistro/pull/21927.
https://github.com/ros/rosdistro/pu

[2019-08-07 04:37] fmessmer commented on #781
yes, `cob_robot` will get a new release, too, fixing this issue
I wasn't able to do it all in one day...sorry about that...I'll be back at it again in a few hours...

[2019-08-07 19:14] fmessmer commented on #781
is back to normal

[2019-08-07 19:14] #781 closed, assigned to nobody

[2020-01-17 17:52] floweisshardt opened #793 "delete EOL robots and EOL packages"
EOL robot candidates are:
- [ ] raw3-1 :point_right: universal stuff definitely needs to be removed...`ros_industrial/universal_robots` is no longer supported as UniveralRobot is now officially involved...
- [x] ~~raw3-3~~ still in use at IPA
- [ ] raw3-5
- [ ] cob4-3 (MLR)
- [ ] cob4-4 (MLR)
- [ ] cob4-6 (MLR)
- [ ] cob4-10 (T-LABS)

remove those robots from
- [ ] cob_supported_robots
- [ ] cob_b

[2020-01-17 21:51] fmessmer commented on #793
I agree with removing robots and its configs/launch files
also, removing urdf/xacro components of those robots seems fine
dependency entries in `package.xml` which are not needed anymore after removing launch files can be removed, too

for EOL packages in e.g. `cob_control` and `cob_driver` etc. I would simply add a `CATKIN_IGNORE` rather than deleting or moving them...

all that should be done in

[2020-01-20 10:16] jabbenseth commented on #793
currently we are running raw3-3 as one of our main robots so imho it is not eol. afaik it uses no cob_driver/control components different from current cob4 robots.

Regarding the raw_description package: there is a raw4 incoming. The merge requests was stale but it looks like we will find/need some time to work on raw4 soon

[2020-01-20 16:57] floweisshardt commented on #793
ok, I'll remove raw3-3 from the list of deletable robots.

[2020-01-20 16:59] floweisshardt commented on #793
then let's keep raw_description. I remove it from the list of deletable packages.

[2020-02-05 14:15] jabbenseth commented on #793
we had a short internal discussion. Right now it looks like we are moving the "rob@work" specific files to our own repository so you don't have to maintain/take over some responsibilities for the rob@work line of robots. This doesn't mean we are not using e.g. cob_driver, but it is likely that we will move all r@w specific stuff to us (in an upcoming PR)

[2020-02-05 14:37] fmessmer commented on #793
if you ask me, I'm still in favor of **not** removing what is **currently** working....but remove it once it's broken - to save the effort of fixing it...

as to `raw` stuff:
`raw` stuff (as one of several) currently prevents a proper `melodic` release of `cob_robots` due to the outdated dependency to `universal_robots for `raw3-1` which is not-maintained anymore anyway

so if you'd like to "move"

[2020-02-06 16:19] jabbenseth commented on #793
One of the points I'm currently running in is, that cob_bringup supplies bringups for a whole load of heterogeneus robots (cob4, raw3 short, raw3 long with arm, raw mini, maybe someday raw4) which all require different dependencies (nothing needs the "cob_mecanum_controller" except the raw-mini, universal robots is only needed for raw3-1 ...).

I wanted to do a minimal install package to install o

[2020-02-06 17:14] floweisshardt commented on #793
I compleetly agree with @ipa-jba. This is exaclty the reason why I started the discussion in this issue. Following @ipa-jba statements it would be best to keep `cob_robots` only for Care-O-bot 4 robots and have a separate `raw_robots` repository where all rob@work related launch files and dependencies are moved. If we agree to that, it should be ok to remove the listed robots and packages above (h

[2020-02-18 16:28] destogl commented on #793
Hi, I would appreciate not to remove raw3-5 sine we are using it actively. I agree to move it to raw specific repos, but I would really appropriate to keep it in the repos with other dependencies on your packages we are using.

Thanks for considering this!

[2020-11-13 05:47] floweisshardt commented on #793
@ipa-jba we'd like to takeup this issue again. Did you move raw robots to a standalone repo in the meanwhile?

[2020-11-13 09:09] jabbenseth commented on #793
unfortunately only the raw minis, but I right now I don't see a reason why this should stop you from cleaning up. maybe push a tag, but I will just note down the commit sha and keep my branches and stuff.

[2020-11-16 07:43] floweisshardt commented on #793
@ipa-jba thanks. Sure, we'll create tags of all repos with the latest version which supports EOL raws/cob3s/cob4s.

[2020-12-15 07:19] KamalanathanN opened #815 "raw3-x :Costmap2DROS transform timeout and Could not get robot pose, cancelling reconfiguration"
ROS : Melodic

Shows following warning in loop:
[code]

It is working when i change the global_frame in local_costmap_params.yaml of raw3-x located in

`global_frame: base_link is changed to global_frame: base_footprint`

[2020-12-15 07:19] #815 closed, assigned to nobody

[2021-11-15 14:13] fmessmer opened #818 "Prepare cob4-25 for Noetic Upgrade"
sichern:
- backups aller rechner
- local changes commiten und als PR bereitstellen
- backup vom router ziehen
- backup flexisoft config

in cob-robots
- replace zr300 with d435 in cob4-7.urdf.xacro

bitte externe, zusätzliche PCs (GPU) ausbauen
what about grippers :point_right: supported?

bitte vorbereiten:
- monitor
- usb-hub + maus + tastatur
- netzverbindung (kabel)
- evtl. kabelverlängernugen

[2021-11-19 13:23] fmessmer commented on #818
we upgrade cob4-25 instead
cob4-7 is used in a different hardware setup ("muscle man") - and does not correspond to the cob4-7.xml anyway...

[2021-11-20 11:26] fmessmer commented on #818
cob4-25 is upgraded to Noetic and passed the Protokoll

[2021-11-20 11:26] #818 closed, assigned to ipa-foj, ipa-fog